DateTime==5.4
GitPython==3.1.42
h5py==3.10.0
html5lib==1.1
importlib-metadata==7.0.1
keras==2.15.0
lxml==5.1.0
matplotlib==3.8.3
ml-dtypes==0.2.0
mplfinance==0.12.10b0
nltk==3.8.1
numpy==1.26.4
packaging==23.2
pandas==2.2.0
pandas-datareader==0.10.0
parse==1.20.1
pillow==10.2.0
plotly==5.19.0
requests==2.31.0
requests-html==0.10.0
scikit-learn==1.4.1.post1
scipy==1.12.0
stocknews==0.9.11
streamlit==1.31.1
tensorflow==2.15.0
tensorflow-estimator==2.15.0
yfinance==0.2.36
prophet==1.1.5
